@model PasswordResetInputModel

@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-body">
                <h5 class="panel-title">Nueva contraseña</h5>
                <h6 class="mb-2 text-muted">Ingrese la nueva contraseña de su usuario.</h6>
                <form asp-route="PasswordReset">
                    <div class="form-group">
                        <label asp-for="NewPassword">Nueva contraseña</label>
                        <input type="password" class="form-control" placeholder="Nueva Contraseña" asp-for="NewPassword" autofocus required>
                    </div>
                    <div class="form-group">
                        <label asp-for="PasswordConfirmation">Confirmación</label>
                        <input type="password" class="form-control" placeholder="Nueva Contraseña" asp-for="PasswordConfirmation" required>
                    </div>
                    <p>La contraseña debe tener al menos 8 caracteres.</p>
                    <button type="submit" class="btn btn-primary">Confirmar cambios</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        
        <div class="alert alert-info">
            La contraseña debe cumplir:
            <ul>
                <li>Al menos 8 caracteres.</li>
                <li>Debe incluir Mayúsculas</li>
                <li>Debe incluir Números</li>
                <li>Debe incluir Letras</li>
                <li>Debe incluir caracteres no alfanumericos (Ejemplo: !#$%&-+*?)</li>
                <li>De preferencia evitar contraseñas simples.</li>
            </ul>
        </div>
        @if (!Model.IsPasswordEquals)
        {
            <div class="alert alert-danger">
                Las contraseñas ingresadas no coinciden.
            </div>
        }
        @if (!Model.IsPasswordValid)
        {
            <div class="alert alert-danger">
                La contraseña no es válida.
            </div>
        }

    </div>
</div> 

