@model RecoveryInputModel

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Recuperación de cuenta de usuario completa.</h1>
            <p>Para continuar ingrese al sistema con su nueva contraseña.</p>
            <a href="~/Account/Login">Inicio</a>
        </div>
    </div>
</div>

