@model RecoveryInputModel

@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Código de recuperación enviado</h1>
            <p>Revise el correo electrónico enviado a la dirección @Model.Email</p>
            <a href="./Recovery">Regresar a recuperación de contraseña.</a>
        </div>
    </div>
</div>